html {

    background: none;
}

body {
    color: #cfd9df;
    font-family: 'Inria Sans', sans-serif;
}

/* buttons */
body .v-btn--size-default, .v-btn--density-default, .v-btn {
    border-radius: 30px;
    background: none;
    border: #DB00FF 3px solid;
}

a {
    color: #cfd9df;
    text-decoration: none;
}

a:hover {
    color: #d700ff;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}
